@font-face{
	font-family: Raleway-LightItalic;
	src :url(fonts/Raleway-LightItalic.ttf);
}

@font-face{
	font-family: Raleway-ExtraLightItalic;
	src :url(fonts/Raleway-ExtraLightItalic.ttf);
}

body,html{
	margin-top: -20px;
	margin-left:  0px;
	padding: 0px;
}
.ch{
	font-size: 100px;
}
.contain{
	width: 100vw;
	height: 104.5vh;
	display: flex;
	align-content: center;
	align-items: center;
	flex : 75% 25%;
	background-image: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));
}
#Front-txt{
	font-size: 60px;
	position: absolute;
	left: 70px;
	top: 70px;
	font-family: Raleway-LightItalic;
	text-shadow: 2px 2px #a6a6a6;
}

.row-01{
	text-align: center;
	flex: 1.6;
	align-self: center;
	display: inline-block;
	
}
.row-02{
	flex: 1;
	padding-top: 120px;
	
	
}

#home-fonts-js{
	font-size: 60px;
	padding-left: 0px;
	font-family: Raleway-ExtraLightItalic;
}

.card-01{
	width: 80%;
	height: 70vh;
	background-color: white;
	border-radius: 30px;
	box-shadow: 8px 8px 60px 20px rgba(36, 63, 105,0.2);
}

.card-01 h1{
	font-family: Raleway-ExtraLightItalic;
	font-size: 50px;
	margin-left: 150px;
}
