{% extends 'base2.html' %}
{% load static %}
{% block content %}
	<div class="mid-01">
		<div class="mid-txt">
			<strong>Book</strong>
			<span id='txt-mid'>your Room</span>
		</div>
	</div>
	{% for i in av %}
	<div class="card-out">
		<div class="card-02">
			<div class="card-02-t">
				<div id="t-02">Date -</div>
				<div id='t-03'>{{i.day}} /{{i.month}} /{{year}}</div>
				<div id="t-04">TimeSlot -</div>				
				<div id='t-05'>{{i.starttime}} -	{{i.endtime}}</div>
				<div id="t-06">Room Type - </div>				
				<div id='t-07'>{{i.room_type}}</div>
				<div id="t-08">Rooms Available - </div>				
				<div id='t-09'>{{i.number}}</div>
        		   
    		</div>
    	{% if i.room_type == 'Suite' %}
			<img src="{% static 'suite.jpg'%}">
		{% else %}
			<img src="{% static 'deluxe.jpg'%}">
		{% endif %}
		 {% if user.person.user_type == 'Room Manager' %}
			
				<a href="{% url 'del_available' pk=i.pk %}">
					<div class= 'book-but'>
					Delete 
					</div>
				</a>
	    	
	    {% else %}

	    	
				<a href="{% url 'book_room' pk=i.pk %}">
					<div class= 'book-but'>
					Book Now
					</div>
				</a>
	    	
			
			{% endif %}


		</div>

	</div>
	{% endfor %}
{% for i in b %}
	<div class="card-out">
		<div class="card-02">
			<div class="card-02-t">
				<div id="t-02">Date -</div>
				<div id='t-03'>{{i.day}} {{i.month}} {{year}}</div>
				<div id="t-04">TimeSlot -</div>
				<div id='t-05'>{{i.starttime}} -	{{i.endtime}}</div>
				<div id="t-06">Room Type - </div>
				<div id='t-07'>{{i.room_type}}</div>
				<div id="t-08">Rooms Available - </div>
				<div id='t-09'>{{i.number}}</div>

    		</div>
    	{% if i.room_type == 'Suite' %}
			<img src="{% static 'suite.jpg'%}">
		{% else %}
			<img src="{% static 'deluxe.jpg'%}">
		{% endif %}

		<div class= 'book-but'>
			<a href="{% url 'book_room' pk=i.pk %}">
				Book Now
			</a>
	    </div>

		</div>

	</div>
	{% endfor %}
{% endblock content %}